<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shadow</title>
</head>
<body>
{{> header}}
<h1>{{pageTitle}}</h1>
<p>{{welcomeMsg}}</p>
<ul>
<li>a</li>
<li>b</li>
<li>c</li>
<li>d</li>
<li>e</li>
</ul>
{{> footer}}
</body>
</html>